@import "frappe.css";

* {
	font-family: SF Pro Display;
	font-size: 14px;
	min-height: 0;
}

#waybar {
	background: @base;
	color: @text;
	margin: 5px 5px;
}

#workspaces {
	border-radius: 1rem;
	margin: 5px;
	background-color: @surface0;
	margin-left: 1rem;
}

#workspaces button {
	color: @lavender;
	border-radius: 1rem;
	padding: 0.4rem;
}

#workspaces button.active {
	color: @sky;
	border-radius: 1rem;
}

#workspaces button:hover {
	color: @sapphire;
	border-radius: 1rem;
}

#workspaces button.focused {
	color: @sapphire;
}

#workspaces button.urgent {
	background-color: @pink;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#language,
#custom-lock,
#custom-power {
	background-color: @surface0;
	padding: 0.5rem 1rem;
	margin: 5px 0;
}

#clock {
	color: @blue;
	border-radius: 0px 1rem 1rem 0px;
	margin-right: 1rem;
}

#battery {
	color: @green;
	border-radius: 0;
}

#battery.charging {
	color: @green;
}

#battery.warning:not(.charging) {
	color: @red;
}

#backlight {
	color: @yellow;
	border-radius: 0;
}

#pulseaudio {
	color: @maroon;
}

#custom-music {
	color: @mauve;
	border-radius: 1rem;
}

#custom-lock {
	border-radius: 1rem 0px 0px 1rem;
	color: @lavender;
}

#custom-power {
	margin-right: 1rem;
	border-radius: 0px 1rem 1rem 0px;
	color: @red;
}

#tray {
	margin-right: 2rem;
	border-radius: 1rem;
}

#network {
	border-radius: 1rem 0px 0px 1rem;
	margin-left: 1rem;
}

#idle_inhibitor.activated {
	color: @yellow;
}
